.item {
  align-items: baseline;
  display: flex;
  flex-flow: row;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.item__link {
  color: #000;
  padding-left: 10px;
  text-decoration: none;
}

.item__input {
  transform: scale(1.5);
}

.item__due {
  font-size: 1rem;
  padding-left: 1rem;
}
